.card-header {
	background: radial-gradient(#cce346 15%, transparent 16%),
		repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%),
		linear-gradient(45deg, transparent 49%, #cce346 49%, #cce346 51%, transparent 51%),
		linear-gradient(-45deg, transparent 49%, #cce346 49%, #cce346 51%, transparent 51%);
	background-size: 3em 3em;
	background-color: #ffffff;
	opacity: 1;
}

.ProseMirror {
	min-height: 80vh !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	width: 80vw !important;
}
